* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #222222;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

/* Style the navbar */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 4px solid rgb(63, 0, 0);
    border-radius: 20px;
    margin: 2px;
}

#logo {
    width: 100px;
    height: 100px;
}

.navbar-brand a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.navbar-search {
    display: flex;
    align-items: center;
}

.navbar-search input[type="text"] {
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: rgb(63, 0, 0);
    width: 400px;
}


.favorites {
    background-color: #333333;
    width: 400px;
    height: 1000px;
    padding: 2px;
    border: 4px solid rgb(63, 0, 0);
    border-radius: 20px;
    margin: 2px;
}

#favorite-items {
    border: 3px, rgb(63, 0, 0);
    padding: 4px;
    width: 200px;
    height: 40px;
    position: relative;
}

h1 {
    text-align: center;
    color: lightgray;
    padding: 4px;
}

#fav-boxes {}

.box {
    position: relative;
}

#fav-button {
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    right: -1px;
    top: 0px;
    background-color: rgb(63, 0, 0);
    color: rgb(255, 255, 255);
}

.poetry-container {
    width: 1000px;
    height: 1000px;
    border: 4px solid rgb(63, 0, 0);
    position: absolute;
    margin: auto;
    top: 136px;
    right: 440px;
    font-size: 30px;
    text-align: center;
    background-color:#333333;
    border-radius: 15px;
}
.poetry-box {
    border: 8px solid rgb(63, 0, 0);
    padding: 5px;
    border-radius: 15px;
    width: 900px;
    height: 900px;
    left: 40px;
    top: 40px;
    position: absolute;
    text-align: center;
    font-size: 15px;
    background-color: #221111;
    color: #eeeeee;
}
h3 {
    color: red;
    font-size: 40px;
}

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  #my-content{
   width:100%;
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  #my-content{
   width:100%;
 }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
display: none;
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
// Havent code only get for more informations 
 } */

li {
    display: inline-block;
    width: 300px;
    height: 40px;
    border: 2px solid #000000;
    margin: 5px;
    margin-left: 40px;
    border-radius: 20px;
    background-color: lightgray;
    color: #000000;
    text-align: center;
    font-size: 30px;
}

/* ------------------- JS RELATED CLASSES AND IDS ------------------- */

/* Input box for user to enter search terms */
#input {

}

/* Search button - click to submit #input into api call */
#search {

}

/* Button id, on click lists available authors */
#generateAuthorList {

}

/* Main box where poems, titles, and author content appears */
#contentArea {

}

/* for generated author list names */
.poemListName {

}

/* loaded title of a poem during list of author's works*/
.poemTitle {

}

/* title loaded to content area when a poem is selected */
.contentTitle {

}

/* author loaded to content area when a poem is selected */
.contentAuthor {

}

/* poem lines loaded to content area when a poem is selected */
.poemLine {

}

/* link to wikipedia article that is generated at the bottom of the page */
.wikiLink {

}

/* On Hover */

.poemTitle:hover {
    color: green;
    cursor: pointer;
}

/* --------------------------------------------------------------------- */
